///////////////////////// YEKAN (fa) /////////////////////////
@font-face {
	font-family: YekanBakh-reg;
	src: url(../font/B_Yekan/YekanBakh-Regular.ttf);
}
@font-face {
	font-family: YekanBakh-med;
	src: url(../font/B_Yekan/Yekan-med.ttf);
}
@font-face {
	font-family: YekanBakh-bold;
	src: url(../font/B_Yekan/YekanBakh-Bold.ttf);
}

///////////////////////// Neonderthaw (En) /////////////////////////
@font-face {
	font-family: neon-reg;
	src: url(../font/Neonderthaw-Regular.ttf);
}

///////////////////////// Mulish (En) /////////////////////////
@font-face {
	font-family: mulish-reg;
	src: url(../font/Mulish/Mulish-Regular.ttf);
}
@font-face {
	font-family: mulish-med;
	src: url(../font/Mulish/Mulish-Medium.ttf);
}
@font-face {
	font-family: mulish-bold;
	src: url(../font/Mulish/Mulish-Bold.ttf);
}
