@import "fonts";
@import "variable";
@import "mixins";

* {
	margin: 0;
	padding: 0;
}

body {
	direction: rtl;
	background-color: $white-color;
}

a {
	text-decoration: none !important;
}

section {
	span {
		color: $blue;
	}
}

.nav {
	&-top {
		width: 100%;
		height: 40px;
		background-color: $dark-color;
		padding: 10px 0;

		.link {
			&-items {
				display: inline-block;
				margin-left: 5px;
				height: 19px;

				a {
					font-size: 0.7rem;
					color: $white-color;
				}
			}
		}

		.phone {
			text-align: center;
			margin: auto auto auto 0;
			width: fit-content;
			@include icon-before(
				0.7rem,
				$white-color,
				"../img/icon/phone-call.svg",
				18px
			);
		}
	}

	&-main {
		width: 100%;
		padding: 10px 0;
		height: fit-content;

		.logo {
			@include logo_style($blue);
		}

		.link {
			&-items a {
				font-size: 0.9rem;
				color: $gray-color;

				span {
					padding: 0 4px;
					&:first-child {
						border-left: 1px solid $gray-color;
					}
				}
			}
		}

		.search-box {
			width: 370px;
			height: 38px;
			position: relative;

			input {
				position: absolute;

				&.search {
					height: 100%;
					width: 100%;
					@include input-bar("yekanBakh-reg", $light-gray);
				}
			}

			img {
				@extend input;
				left: 13px;
				height: 24px;
				width: 24px;
				margin: 7px;
				z-index: 999;
			}
		}
	}

	ul {
		margin: auto 0;
		justify-content: space-between;
		font-family: yekanBakh-reg;
		align-items: center;

		.link {
			&-items a {
				display: inline-block;
				margin: 0 10px;
				line-height: 2;
			}
		}
	}
}

.footer {
	background-color: $dark-color;
	color: $white-color;
	font-family: YekanBakh-reg;

	.container .row {
		margin-top: 35px;
	}
	&-heading {
		.logo {
			@include logo_style($white-color);
		}
	}

	.about-company {
		font-size: 0.9rem;
	}

	.phone {
		@include icon-before(
			0.85rem,
			$white-color,
			"../img/icon/phone-call.svg",
			18px
		);
	}

	.addr {
		margin: 10px 0;
		@include icon-before(0.85rem, $white-color, "../img/icon/pin.svg", 16px);

		address {
			font-family: YekanBakh-med;
		}
	}

	.link {
		&-items {
			margin: 17px 0;
			a {
				color: $white-color;
				font-size: 0.9rem;
			}
		}
	}
	.news {
		&-box {
			margin: 0 auto;
			height: 50px;
			width: 80%;
			position: relative;

			button {
				position: absolute;
				left: 0;
				color: $blue;
				background-color: $white-color;
				border-radius: 20px;
				width: 100px;
				height: 42px;
				border: none;
			}
		}

		&-mail {
			width: 100%;
			text-align: right;
			position: absolute;
			background-color: transparent;
			@include input-bar("yekanBakh-reg", $light-gray);
		}
	}

	.license {
		margin: 20px 0;

		&-items {
			width: 100px;
		}

		&-logo {
			background: rgba($white-color, 0.5);
			border-radius: 16px;
			display: inline-block;
			height: 120px;
			padding: 7px;

			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}
