@import "fonts";
@import "variable";
@import "mixins";

section {
	padding: 10px 0;

	h2 {
		text-align: center;
		color: $dark-color;
		font-family: yekanBakh-med;
		font-size: 1.4rem;
		margin: 24px 0;
	}
}

.guide {
	.box {
		&-container {
			padding: 40px 0;
			margin: 10px auto;
			background-color: $light-color;
			box-shadow: 0 0 25px 0 rgba($dark-color, 0.08);
		}

		img {
			width: 70px;
			height: 70px;
			margin: 0 17px;
			padding: 0;
		}
		.content {
			font-family: yekanBakh-reg;

			h4 {
				font-weight: 600;
				font-size: 1.1rem;
			}

			p {
				font-weight: 500;
				font-size: 1rem;
				color: $light-gray;
			}
		}

		width: 300px;
		//margin: 0 20px;
		padding-left: 11px;
		align-items: center;

		&:not(:last-child) {
			border-left: 1px solid $light-gray;
		}
	}
}

.swiper {
	&-button-next {
		left: 0 !important;
		color: $blue !important;
	}
}

.categories {
	.row {
		width: 30%;
	}

	.category {
		height: 400px;
	}

	.card {
		width: 33%;
		height: fit-content;
		padding: 20px 0 !important;

		&-body {
			flex: 0 !important;
			text-align: center;
		}

		&-img-bottom {
			height: 160px;
			margin: 0;
		}
	}
}

.banner {
	.card {
		width: 47%;

		&-body {
			color: $white-color;
		}
		&-text,
		&-link {
			font-size: 0.85rem;
		}
	}
	&-left {
		.card {
			&-img-overlay {
				top: 15% !important;
				left: 50% !important;
			}
		}
	}
	&-right {
		.card {
			&-img-overlay {
				top: 15% !important;
				right: 50% !important;
			}
		}
	}
}

.card {
	border: none !important;
	margin: 19px 0 0;
	box-shadow: 0 0 25px 0 rgba($dark-color, 0.08);

	&-body {
		font-family: yekanBakh-reg;
		border-radius: calc(0.25rem - 1px) !important;
	}

	&-link {
		color: $blue;
	}
	&-arrow {
		margin-right: 7px;
		width: 10px;
		height: 18px;
	}
	&-title {
		font-size: 1.2rem;
		font-family: yekanBakh-med;
	}

	&-text {
		font-size: 0.9rem;
	}

	&-smartphone {
		.card {
			width: 255px;
			height: 372px;

			&-img-top {
				width: 180px;
				height: 230px;
				margin: 0 auto;
			}

			&-title > a {
				color: $dark-color;
				font-size: 1rem;
			}
			&-text {
				span {
					color: $dark-color;
					font-weight: 600;
				}
				&.colors span {
					display: inline-block;
					background-color: $green-phone;
					width: 8px;
					height: 8px;
					border-radius: 50%;
					margin-left: 3px;
				}
			}
		}
	}
}

.countdown {
	font-family: yekanBakh-med;
	direction: ltr;

	> div {
		display: inline-block;
		width: 35px;
		margin: 0 4px;

		> span {
			display: block;
			text-align: center;
		}
	}

	&-container {
		/*
		&:not(:last-child):after {
			content: " \003A";
			color: $white-color;
			font-size: 0.85rem;
		}
		*/

		.countdown-value {
			font-size: 0.85rem;
			font-weight: 600;
			font-family: yekanBakh-reg;
			background: $white-color;
			padding: 10px;
			color: $dark-color;
			border-radius: 5px;
			box-shadow: 0 0 25px 0 rgba($dark-color, 0.08);
		}
	}
}

.offer {
	&-timer {
		position: relative;
		color: $white-color;
		height: 336px;
		background: linear-gradient(
			0deg,
			rgba(25, 67, 74, 1) 16%,
			rgba(77, 210, 232, 1) 84%
		);
		img {
			height: 75%;
			width: 85%;
			position: absolute;
			bottom: 0;
			right: 7%;
		}
		&.card {
			overflow: hidden;

			.card-body {
				text-align: center;
			}
		}
	}
}

.introduction {
	.card {
		&-title {
			font-size: 1.4rem;
			span {
				color: $dark-color;
			}
			.brand {
				font-family: mulish-bold;
				text-transform: uppercase;
			}
			.model {
				font-family: mulish-med;
				text-transform: capitalize;
			}
		}
	}
}

.blog {
	.card-body {
		transform: translateY(-40px);
	}

	&-date {
		background-color: $light-color;
		border-radius: 50% !important;
		color: $dark-color;
		margin-right: 20px;
		width: 75px;
		height: 75px;
		text-align: center;
		box-shadow: 0 0 25px 0 rgba($dark-color, 0.08);

		.day {
			border-bottom: 1px solid $light-gray;
		}
	}
}

.head {
	background-color: $black-color;
	height: 80vh;

	&-swiper {
		width: 100%;
		height: 100%;
	}

	.card {
		background-color: $black-color;
		color: $white-color;

		&-body {
			margin-top: 20%;
		}

		&-title {
			font-size: 1.8rem;
			font-family: yekanBakh-reg;
			margin-bottom: 1rem;
		}

		.price {
			font-size: 2.8rem;
			font-family: yekanBakh-bold;
			&-box {
				font-size: 1.8rem;
			}
		}

		.view {
			display: inline-block;
			background-color: $blue;
			color: $white-color;
			font-family: yekanBakh-med;
			width: 145px;
			border-radius: 20px;
		}
	}
}
