@import "fonts";
@import "variable";
@import "mixins";

section {
	padding: 10px 0;

	h2 {
		text-align: center;
		color: $dark-color;
		font-family: yekanBakh-med;
		font-size: 1.4rem;
		margin: 24px 0;
	}
}

.guide {
	.box {
		&-container {
			padding: 40px 0;
			margin: 10px auto;
			background-color: $light-color;
			box-shadow: 0 0 25px 0 rgba($dark-color, 0.08);
		}

		img {
			width: 70px;
			height: 70px;
			margin: 0 17px;
			padding: 0;
		}
		.content {
			font-family: yekanBakh-reg;

			h4 {
				font-weight: 600;
				font-size: 1.1rem;
			}

			p {
				font-weight: 500;
				font-size: 1rem;
				color: $light-gray;
			}
		}

		width: 300px;
		//margin: 0 20px;
		padding-left: 11px;
		align-items: center;

		&:not(:last-child) {
			border-left: 1px solid $light-gray;
		}
	}
}

.newest {
	.card {
		width: 255px;
		height: 372px;

		&-img-top {
			width: 180px;
			height: 230px;
			margin: 0 auto;
		}

		&-title > a {
			color: $dark-color;
			font-size: 1rem;
		}
		&-text {
			span {
				color: $dark-color;
				font-weight: 600;
			}
			li {
				display: inline-block;
				background-color: $green-phone;
				width: 8px;
				height: 8px;
				border-radius: 50%;
				margin-left: 3px;
			}
		}
	}
}

.swiper {
	&-button-next {
		left: 0 !important;
		color: $blue !important;
	}
}

.categories {
	.row {
		width: 30%;
	}

	.category {
		height: 400px;
	}

	.card {
		width: 33%;
		height: fit-content;
		padding: 20px 0 !important;

		&-body {
			flex: 0 !important;
			text-align: center;
		}

		&-img-bottom {
			height: 160px;
			margin: 0;
		}
	}
}

.banner {
	.card {
		width: 47%;

		&-body {
			color: $white-color;
		}
		&-text,
		&-link {
			font-size: 0.85rem;
		}
	}
	&-left {
		.card {
			&-img-overlay {
				top: 15% !important;
				left: 50% !important;
			}
		}
	}
	&-right {
		.card {
			&-img-overlay {
				top: 15% !important;
				right: 50% !important;
			}
		}
	}
}
.card {
	border: none !important;
	margin: 19px 0 0;
	box-shadow: 0 0 25px 0 rgba($dark-color, 0.08);

	&-body {
		font-family: yekanBakh-reg;
	}

	&-link {
		color: $blue;
	}
	&-arrow {
		margin-right: 7px;
		width: 10px;
		height: 18px;
	}
	&-title {
		font-size: 1.2rem;
		font-family: yekanBakh-med;
	}

	&-text {
		font-size: 0.9rem;
	}
}
