@font-face {
  font-family: YekanBakh-reg;
  src: url(../font/B_Yekan/YekanBakh-Regular.ttf);
}

@font-face {
  font-family: YekanBakh-med;
  src: url(../font/B_Yekan/Yekan-med.ttf);
}

@font-face {
  font-family: YekanBakh-bold;
  src: url(../font/B_Yekan/YekanBakh-Bold.ttf);
}

@font-face {
  font-family: neon-reg;
  src: url(../font/Neonderthaw-Regular.ttf);
}

@font-face {
  font-family: mulish-reg;
  src: url(../font/Mulish/Mulish-Regular.ttf);
}

@font-face {
  font-family: mulish-med;
  src: url(../font/Mulish/Mulish-Medium.ttf);
}

@font-face {
  font-family: mulish-bold;
  src: url(../font/Mulish/Mulish-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  direction: rtl;
  background-color: #f5f5f5;
}

a {
  text-decoration: none !important;
}

section span {
  color: #4dd2e8;
}

.nav-top {
  width: 100%;
  height: 40px;
  background-color: #212121;
  padding: 10px 0;
}

.nav-top .link-items a {
  width: 87px;
  height: 19px;
  font-size: 0.7rem;
  color: #f5f5f5;
}

.nav-top .phone {
  text-align: center;
  margin: auto auto auto 0;
  font-size: 0.7rem;
  color: #f5f5f5;
}

.nav-top .phone a {
  color: #f5f5f5;
  margin-right: 5px;
}

.nav-top .phone::before {
  content: "";
  background: url("../img/icon/phone-call.svg") no-repeat;
  background-position: center;
  background-size: cover;
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-left: 5px;
}

.nav-main {
  width: 100%;
  padding: 10px 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.nav-main .logo {
  font-family: neon-reg;
  font-size: 3.5rem;
  color: #4dd2e8;
}

.nav-main .link-items a {
  font-size: 0.9rem;
  color: #616161;
}

.nav-main .link-items a span {
  padding: 0 4px;
}

.nav-main .link-items a span:first-child {
  border-left: 1px solid #616161;
}

.nav-main .search-box {
  width: 370px;
  height: 38px;
  position: relative;
}

.nav-main .search-box input, .nav-main .search-box img {
  position: absolute;
}

.nav-main .search-box input.search, .nav-main .search-box img.search {
  height: 100%;
  width: 100%;
  padding: 8px 20px;
  border-radius: 20px;
  color: #212121;
  font-family: "yekanBakh-reg";
  border: 1px solid #9e9e9e;
}

.nav-main .search-box input.search::-webkit-input-placeholder, .nav-main .search-box img.search::-webkit-input-placeholder {
  font-family: "yekanBakh-reg";
  color: #9e9e9e;
  text-align: right;
  font-size: 0.9rem;
  padding: 2px;
}

.nav-main .search-box input.search:-ms-input-placeholder, .nav-main .search-box img.search:-ms-input-placeholder {
  font-family: "yekanBakh-reg";
  color: #9e9e9e;
  text-align: right;
  font-size: 0.9rem;
  padding: 2px;
}

.nav-main .search-box input.search::-ms-input-placeholder, .nav-main .search-box img.search::-ms-input-placeholder {
  font-family: "yekanBakh-reg";
  color: #9e9e9e;
  text-align: right;
  font-size: 0.9rem;
  padding: 2px;
}

.nav-main .search-box input.search::placeholder, .nav-main .search-box img.search::placeholder {
  font-family: "yekanBakh-reg";
  color: #9e9e9e;
  text-align: right;
  font-size: 0.9rem;
  padding: 2px;
}

.nav-main .search-box input.search:focus-visible, .nav-main .search-box img.search:focus-visible {
  outline: 1px solid #9e9e9e;
}

.nav-main .search-box img {
  left: 13px;
  height: 24px;
  width: 24px;
  margin: 7px;
  z-index: 999;
}

.nav ul {
  margin: auto 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: yekanBakh-reg;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav ul .link-items a {
  display: inline-block;
  margin: 0 10px;
  line-height: 2;
}

.footer {
  background-color: #212121;
  color: #f5f5f5;
  font-family: YekanBakh-reg;
}

.footer .container .row {
  margin-top: 35px;
}

.footer-heading .logo {
  font-family: neon-reg;
  font-size: 3.5rem;
  color: #f5f5f5;
}

.footer .about-company {
  font-size: 0.9rem;
}

.footer .phone {
  font-size: 0.85rem;
  color: #f5f5f5;
}

.footer .phone a {
  color: #f5f5f5;
  margin-right: 5px;
}

.footer .phone::before {
  content: "";
  background: url("../img/icon/phone-call.svg") no-repeat;
  background-position: center;
  background-size: cover;
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-left: 5px;
}

.footer .addr {
  margin: 10px 0;
  font-size: 0.85rem;
  color: #f5f5f5;
}

.footer .addr a {
  color: #f5f5f5;
  margin-right: 5px;
}

.footer .addr::before {
  content: "";
  background: url("../img/icon/pin.svg") no-repeat;
  background-position: center;
  background-size: cover;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 5px;
}

.footer .addr address {
  font-family: YekanBakh-med;
}

.footer .link-items {
  margin: 17px 0;
}

.footer .link-items a {
  color: #f5f5f5;
  font-size: 0.9rem;
}

.footer .news-box {
  margin: 0 auto;
  height: 50px;
  width: 80%;
  position: relative;
}

.footer .news-box button {
  position: absolute;
  left: 0;
  color: #4dd2e8;
  background-color: #f5f5f5;
  border-radius: 20px;
  width: 100px;
  height: 42px;
  border: none;
}

.footer .news-mail {
  width: 100%;
  text-align: right;
  position: absolute;
  background-color: transparent;
  padding: 8px 20px;
  border-radius: 20px;
  color: #212121;
  font-family: "yekanBakh-reg";
  border: 1px solid #9e9e9e;
}

.footer .news-mail::-webkit-input-placeholder {
  font-family: "yekanBakh-reg";
  color: #9e9e9e;
  text-align: right;
  font-size: 0.9rem;
  padding: 2px;
}

.footer .news-mail:-ms-input-placeholder {
  font-family: "yekanBakh-reg";
  color: #9e9e9e;
  text-align: right;
  font-size: 0.9rem;
  padding: 2px;
}

.footer .news-mail::-ms-input-placeholder {
  font-family: "yekanBakh-reg";
  color: #9e9e9e;
  text-align: right;
  font-size: 0.9rem;
  padding: 2px;
}

.footer .news-mail::placeholder {
  font-family: "yekanBakh-reg";
  color: #9e9e9e;
  text-align: right;
  font-size: 0.9rem;
  padding: 2px;
}

.footer .news-mail:focus-visible {
  outline: 1px solid #9e9e9e;
}

.footer .license {
  margin: 20px 0;
}

.footer .license-items {
  width: 100px;
}

.footer .license-logo {
  background: rgba(245, 245, 245, 0.5);
  border-radius: 16px;
  display: inline-block;
  height: 120px;
  padding: 7px;
}

.footer .license-logo img {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=common.css.map */